<form [formGroup]="loginForm" (ngSubmit)="handleForm()" >
    <app-input [label]="'Correo: '" [placeholder]="'correo@ejemplo.com'" [type]="'text'" [inputFormControl]="loginForm.get('email')" ></app-input>
    <app-input [label]="'Contraseña: '" [placeholder]="'********'" [type]="'password'" [inputFormControl]="loginForm.get('password')" ></app-input>
  
    <ng-container *ngIf="loginForm.errors">
        <p class="help is-danger" *ngIf="loginForm.errors.invalidCredentials">
          El correo o la contraseña con incorrectos
        </p>
      </ng-container>
      <ng-container *ngIf="loginForm.errors">
        <p class="help is-danger" *ngIf="loginForm.errors.unknownError">
          A ocurrido un error, por favor intentelo mas tarde
        </p>
      </ng-container>
      

    <div class="buttons is-centered">
        <button class="button is-success is-rounded">Iniciar sesión</button>
        <button class="button is-link is-rounded" type="button" (click)="reset()">Borrar todo</button> 
    </div>
    
      <div class="buttons is-centered">
        <a (click)="loginWithGoogle()">
          <button type="button" class="button is-danger is-rounded">
            <i class="fab fa-google">
              <span> Google</span>
            </i>  
          </button>
        </a>
      </div>
  </form>
