<!-- <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm col-2" for="exampleInputEmail1">{{label}}</label>
    <div class="col-sm-6 col-6">
      <input value="{{value}}" [type]="type" [formControl]="inputFormControl" class="form-control form-control-sm"
        [ngClass]="{'is-invalid':isInvalid}">
    </div>
      
    <div class="col-8 col-sm-8 text-center" *ngIf="isInvalid">
      <div class="alert alert-danger" role="alert" *ngIf="isRequiredInvalid">
        This field is required
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="isPatternInvalid">
        You must enter a valid field
      </div>
      
    </div>
  
  </div> -->

  <div class="field my-3">
    
    <label class="label">{{label}}</label>
  
    <div class="control has-icons-left has-icons-right">
      <input 
      value="{{value}}"
        class="input is-info is-rounded" 
        [type]="type" 
        [ngClass]="{ 'is-danger': isInvalid}"
        [formControl]="inputFormControl"
        
        >
      <!-- display icon error -->
      <span *ngIf="isInvalid" class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
  
    <!-- feedback message -->
    <ng-container *ngIf="isInvalid">
      <p 
        *ngIf="isRequiredInvalid" 
        class="help is-danger"
        >Se require este campo</p>
     
      <p 
        *ngIf="isPatternInvalid" 
        class="help is-danger"
        >Llene correctamente el campo y no se permiten espacios</p>
      
    </ng-container>
  </div>