<!-- Utilizando ngFor recorre el array de talleres y muestra la información de cada uno -->
<div class="row columns is-multiline">
  <div class="column is-5" *ngFor="let workshop of workshops">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{workshop.workshop_name | titlecase }}
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          {{workshop.workshop_description }}
        </div>
      </div>
      <footer class="card-footer">
          <!-- <button class="button is-fullwidth is-primary is-outlined" routerLink="{{workshop.workshop_id}}">Ver detalles</button> -->
            <button class="button is-success is-fullwidth" routerLink="/workshop/categories/{{workshop.workshop_category}}/{{workshop.workshop_id}}">Ver mas...</button>
      </footer>
    </div>
  </div>
</div>

<!-- Boton para vovler a categorias -->
<div class="buttons is-centered">
  <button class="button is-warning is-rounded" routerLink="/workshop/categories">Categorias</button>
</div>
