<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="handleForm()"  enctype="multipart/form-data">
    <div class="field is-grouped">
        <p class="control is-expanded">
            <app-input  [label]="'Nombre:'" [inputFormControl]="signupForm.get('name')"  [type]="'text'" [placeholder]="'Ingrese su nombre'"></app-input>
        </p>
        <p class="control is-expanded">
            <app-input  [label]="'Apellido:'" [inputFormControl]="signupForm.get('lastName')"  [type]="'text'" [placeholder]="'Ingrese su primer apellido'"></app-input>
        </p>
    </div>
    <div class="field is-grouped">
        <p class="control is-expanded">
            <app-input [label]="'Correo:'" [inputFormControl]="signupForm.get('email')" [type]="'text'" [placeholder]="'correo@ejemplo.com'"></app-input>
        </p>
        <p class="control is-expanded">
            <app-input [label]="'Contraseña:'" [inputFormControl]="signupForm.get('password')"  [type]="'password'" [placeholder]="'********'"></app-input>
        </p>
    </div>
    <div class="field is-grouped">
        <p class="control is-expanded">
            <app-input [label]="'Numero de cuenta:'" [inputFormControl]="signupForm.get('accountNumber')"  [type]="'number'" [placeholder]="'1234567'"></app-input>
        </p>
        <p class="control is-expanded">
            <app-input [label]="'Semestre:'" [inputFormControl]="signupForm.get('semester')"  [type]="'number'" [placeholder]="'Semestre que cursa'"></app-input>
        </p>
    </div>
    <div class="field">
      <div class="select is-info  is-rounded" [ngClass]="{ 'is-danger': isInvalid}">
        <select  formControlName="collegeCareer">
            <option value="" disabled>Elige tu carrera</option>
            <option *ngFor="let carrera of carreras" [ngValue]="carrera.name"  >
                {{ carrera.name }}
            </option>
        </select>
    </div>
    <p class="help is-danger"  *ngIf="isInvalid">
        Seleciona una carrera
    </p>
    </div>
            
           
            <div class="field">
                <div class="file is-info">
                    <label class="file-label">
                      <input class="file-input" type="file"  accept="image/*" formControlName="photo" (change)="showPreview($event)" >
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Selecciona una foto de perfil
                        </span>
                      </span>
                    </label>
                  </div>
            </div>
            <ng-container *ngIf="show">
              <img [src]="foto" style="height: 250px;" alt="profile picture">
            </ng-container>
            
    <ng-container *ngIf="signupForm.errors">
      <p 
      *ngIf="signupForm.errors.unknownError"
      class="help is-danger"
      >A unknown server has occurred, try again later</p>
    </ng-container>
  
    <div class="buttons is-centered">
      <button class="button is-success is-rounded">Crear cuenta</button>
      <button class="button is-link is-rounded" type="button" (click)="reset()">Borrar todo</button>
    </div>
    
  </form> 
</div>