<div class="container">
    <div class="notification has-text-centered">
      A continuación se presentan las diferentes categorias, donde podra encontrar diferentes talleres
    </div>
    <app-categories-card [categories]="categorias"></app-categories-card>
</div>

