<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a routerLink="/" routerLinkActive="is-active" class="navbar-item">
        <span class="title is-5">
            <img src="https://1.bp.blogspot.com/-7hWpJY6gVCE/Xx5zAPmNnKI/AAAAAAAAACg/onCeEHVYwHwsaCtz1D_avh2jYoYa5VvkACLcBGAsYHQ/s385/logo.PNG" width="120" height="40">
        </span>
      </a>
      <a role="button" 
         [ngClass]="{'is-active': toggle }"
         (click)="toggle = !toggle"
         class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': toggle}">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/" routerLinkActive="is-active">
          <strong>
            Inicio
          </strong>
        </a>
        <a class="navbar-item" routerLink="/workshop/categories" routerLinkActive="is-active" >
          <strong>
            Categorias
          </strong>  
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <ng-container *ngIf="!isAuthenticated">
              <a class="button is-primary" routerLink="/auth/signup" routerLinkActive="is-active">
                <strong>
                  Registro
                </strong>
              </a>
              <a class="button is-success" routerLink="/auth/login" routerLinkActive="is-active">
                <strong>
                  Ingresar
                </strong>
              </a>
            </ng-container>
  
            <ng-container *ngIf="isAuthenticated">
              <a class="navbar-item" routerLink="/profile" routerLinkActive="is-active">
                Perfil
              </a>
              <a class="button is-primary" (click)="logout()" routerLinkActive="is-active">
                <strong>
                  Salir
                </strong>
              </a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </nav>
